:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

#selectBox {
  border: 1px black dashed;
  position: absolute;
  z-index: 5;
}

#selectBox:hover {
  border: 2px yellow dashed;
  #dragBtn {
    position: absolute;
    right: -10px;
    bottom: -10px;
    width: 20px;
    height: 20px;
    background-color: brown;
    border-radius: 100%;
    cursor: se-resize;
  }
}

#deleteBtn {
  width: 30px;
  height: 30px;
  background: url('../public/delete.png');
  position: absolute;
  right: 0px;
  top: 0px;
  background-size: cover;
}
